* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__prev,
.slider__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-radius: 10px;
  background-color: #c9ec90;
}
.slider__prev:hover,
.slider__next:hover {
  background-color: #97ac74;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  overflow: hidden;
  padding: 0;
}

.slider li {
  display: none;
  font-size: 20px;
  list-style: none;
  min-width: 300px;
  min-height: 150px;
  margin: 10px;
  background-color: #c9ec90;
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
          animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  from {
    opacity: 0;
    display: block;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  from {
    opacity: 0;
    display: block;
  }
  to {
    display: block;
    opacity: 1;
  }
}
.slider li.active {
  opacity: 1;
  display: block;
}

.js--list li {
  border-radius: 20px;
}

.js--dotList {
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.js--dotList {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  margin: 0px 10px 0px 10px;
}
.dot .active {
  background-color: #97ac74;
}
.dot:hover {
  height: 20px;
  width: 20px;
  margin: 0px 5px 0px 5px;
}

.dot.active {
  background-color: #c9ec90;
}